<form method="POST" id="form-{{post.id}}" class="d-flex align-items-center w-100 mt-2">
  {% load widget_tweaks %}
  {% csrf_token %}
  {{ form.non_field_errors }}
<div class="fieldWrapper">
{{ form.author.errors }}
{{ form.author|add_class:"cform__author"|attr:"placeholder:이름" }}
</div>
<div class="fieldWrapper w-100">
{{ form.content.errors }}
{{ form.content|add_class:"cform__content"|attr:"placeholder:내용을 입력하세요" }}
</div>
<button class="writeBtn btn btn-sm btn-warning w-auto">Write</button>
</form>
</div>