* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#fixed {
  position: fixed;
  top: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
}

#header-top {
  float: right;
}

#header-top span {
  color: #888;
  letter-spacing: -1px;
  font-size: 11px;
  line-height: 22px;
}

#header-search {
  clear: both;
}

#header-search a {
  text-decoration: none;
}

#header-search h1 {
  width: 198px;
  height: 48px;
  /* background-image: url(./sp_search.png);
  background-position: -4px -10px;
  background-repeat: no-repeat; */
  background: url(./sp_search.png) -4px -10px no-repeat;
  display: inline-block;
  vertical-align: middle;
}

#header-search h1 span {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0 12px 10px;
  border: 2px solid #03cf5d;
  width: 521px;
  height: 49px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width: 405px;
  height: 23px;
}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  top: -2px;
  right: -1px;
}

#search-image {
  background-image: url(./sp_search.png);
  background-position: -3px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 14px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li span:first-child {
  height: 16px;
  display: inline-block;
  background-image: url(./sp_nav.png);
  background-repeat: no-repeat;
  margin-left: 14px;
}

nav li:first-child span.nav-item-mail {
  /* span:first-child */
  width: 25px;
  background-position: 0 -285px;
  margin-left: 0;
}

nav li:nth-child(2) span:first-child {
  width: 27px;
  background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
  width: 40px;
  background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
  width: 40px;
  background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
  width: 26px;
  background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
  width: 25px;
  background-position: -70px -285px;
}
